.container-inline {
  float: left;
}

.textarea-wrapper {
  width: 250px !important;
}

.feed_post {
  background-color: rgba(0, 0, 250, 0.1);
}

ul.feeds-list, .feeds-list a:hover, .feeds-list a:active, .feeds-list a:focus {
  list-style-type: none;
  text-decoration: none;
}

